import Config

config :discord_bot,
  openwm_api_key: "",
  embed_color: 0x3498DB,
  welcome_channel_id: 1,
  main_guild_id: 1

config :nostrum,
  token: "",
  ffmpeg: "ffmpeg",
  gateway_intents: :all
